.toolbar {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 2px 4px 10px #888888;
}

.toolbar > * {
  height: 38px;
  margin: 4px 5px 4px 5px;
}